/**
 * Main Layout
 */


/**
 * Site wide 
 */

.l-horizontal-list,
.l-horizontal-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	@extend .clearfix;

	li {
		float: left;
	}	
}


$columns: 12;

.col {
	// width: $fluid-col-total;
	padding: 0 $fluid-col-gutters;
	float: left;
	position: relative;
	min-height: 1px;

	img {
		max-width: 100%;
		height: auto;
	}
}

%no-gutters {
	padding: 0;
}

@mixin col-list {
  @for $i from 1 through $columns {
  	.col-#{$i} { 
  		@extend .col;
  		width: $i / 12 * 100%;

  		@media (max-width: $single-col) {
			width: 100%;
			float: none;
		}
  	}
  	.col-#{$i}.no-gutters { 
  		@extend %no-gutters;
  	}
  }
}

@include col-list;

@mixin col-offset-list {
  @for $x from 1 through $columns - 1 {
  	.offset-#{$x} {
  		margin-left: $x / 12 * 100%;

  		@media (max-width: $single-col) {
  			margin-left: 0;
  		}
  	}
  }
}

@include col-offset-list;

@mixin col-rt-offset-list {
  @for $x from 1 through $columns - 1 {
  	.rt-offset-#{$x} {
  		margin-right: $x / 12 * 100%;
  	}
  }
}

@include col-rt-offset-list;

.row {
	clear: both;
}

$shift-animation: 300ms;

/** 
 * Header
 */

.l-header-con {
 	position: fixed;
 	left: 0;
 	top: 0;
 	z-index: 999;
 	width: 100%;
 	line-height: 50 / 16 * 1em;
	

	-webkit-transition: background-color 300ms ease-out, left $shift-animation ease-out;
       -moz-transition: background-color 300ms ease-out, left $shift-animation ease-out;
         -o-transition: background-color 300ms ease-out, left $shift-animation ease-out;
            transition: background-color 300ms ease-out, left $shift-animation ease-out;

 	&.show-short-view {
 		background-color: $gray;
 		background-color: rgba(66, 66, 66, .8);
 	}

 	@media (max-width: $single-col) {
 		background-color: $gray;
 		background-color: rgba(66, 66, 66, .8);
 	}

 	.nav-shift & {
    	@media (max-width: $single-col) {
			left: -80%;	
		}
    }
}

.l-header {
	width: 100%;
	max-width: $max-width * 1px;
	margin: 0 auto;
	padding: 0 $fluid-site-gutters;
	line-height: 50 / 16 * 1em;
}

.l-main-logo-con {
	@extend .col;
	width: 158px;
}

.l-main-nav {
	@extend .col;
	width: 393px;

	@media (max-width: $single-col) {
		display: none;
	}
}

.l-header-social-icons {
	@extend .col;
	float: right;
	padding: 1em 0 0;
	width: 80px;
}

/** 
 * footer
 */

.l-footer-con {
 	width: 100%;
 	padding-bottom: 140 / 16 * 1em;
 	background-color: $gray;
 	position: relative;
 	z-index: 90;
 	left: 0;

 	-webkit-transition: left $shift-animation ease-out;
       -moz-transition: left $shift-animation ease-out;
         -o-transition: left $shift-animation ease-out;
            transition: left $shift-animation ease-out;

    .nav-shift & {
    	@media (max-width: $single-col) {
			left: -80%;	
		}
    }
}

.l-footer {
	@extend .clearfix;
	width: 100%;
	max-width: $max-width * 1px;
	margin: 0 auto;
	padding: (40 / 16 * 1em) $fluid-site-gutters 0;
}

// short footers
.l-short-footer-con {
	position: relative;
	left: 0;
	// bottom: 0;
 	width: 100%;
 	line-height: 44 / 16 * 1em;
 	background-color: $gray;
 	z-index: 80;

 	@media (max-width: $footer-single-col) {
 		line-height: auto;
 		padding: 0 30px;
 	}

	-webkit-transition: left $shift-animation ease-out;
      -moz-transition: left $shift-animation ease-out;
        -o-transition: left $shift-animation ease-out;
           transition: left $shift-animation ease-out;

    .nav-shift & {
	   	@media (max-width: $single-col) {
			left: -80%;	
		}
    }
}

.l-shift-con {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.l-short-footer {
	@extend .clearfix;
	width: 100%;
	max-width: $max-width * 1px;
	margin: 0 auto;
	line-height: 44 / 16 * 1em;
	text-align: center;
}

/**
 * main container
 */
 .l-container {
	position: relative;
	left: 0;
	-webkit-transition: left $shift-animation ease-out;
       -moz-transition: left $shift-animation ease-out;
         -o-transition: left $shift-animation ease-out;
            transition: left $shift-animation ease-out;

    .nav-shift & {
    	@media (max-width: $single-col) {
			left: -80%;	
		}
    }
}

.l-small-view-nav {
	display: none;
	position: fixed;
	width: 80%;
	height: 100%;
	background: $gray;
	left: 100%;
	top: 0;
	z-index: 99;
	overflow-y: scroll;
	
	-webkit-transition: left $shift-animation ease-out;
       -moz-transition: left $shift-animation ease-out;
         -o-transition: left $shift-animation ease-out;
            transition: left $shift-animation ease-out;
	
	@media (max-width: $single-col) {
		display: block;
	}

    .nav-shift & {
		@media (max-width: $single-col) {
			left: 20%;
		}
    }

}

.l-small-view-nav-header {
	border-top: 3px solid $gold;
	padding: .25em 0;
	background: $gray;
}


/**
 * helper con
 */
 .l-outer {
 	width: 100%;
 	@extend .clearfix;
 }

.l-inner {
	width: 100%;
	max-width: $max-width-px;
	margin: 0 auto;
	padding: 0 30px;
	@extend .clearfix;

	&.is-expanded {
		padding: 0;
	}
}

.l-center {
	margin: 0 auto;
}

/**
 * About page
 */
.l-about-why {
	width: 100%;
	// min-height: em(525);
	padding-top: em(220);
	padding-bottom: 6em;
	background: url(../img/about_why2.jpg) no-repeat center center;
	background-size: cover;

	@media (max-width: $shorten) {
		padding-top: em(140);
	}
}

.l-about-reimagine {
	width: 100%;
	min-height: em(500);
	padding-top: em(126);
	background: url(../img/about_reimagine2.jpg) no-repeat center center;
	background-size: cover;
	
	@media (max-width: $shorten) {
		padding-top: em(60);
		min-height: inherit;
		padding-bottom: em(60);
	}
}

.l-about-map {
	width: 100%;
	position: relative;
	height: 646px;

	.map {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 646px;
	}
}

.l-about-map-inner {
	position: relative;
	z-index: 80;
	@media (max-width: 450px) {
		padding-left: 0;
		padding-right: 0;	
	}
}

.l-about-bubble {
	width: 298px;
	height: 298px;
	margin-top: (285/ 646) * 100%;
	background: $dark-blue;
	border-radius: 50%;
	color: #fff;
	text-align: center;

	@media (max-width: 450px) {
		margin-left: auto;
		margin-right: auto;
	}


	p {
		font-size: em(13);
	}
}

.bubble-intro {
	padding: em(56) em(70) 0;
	margin-bottom: em(18, 13);
	text-align: center;
	color: $orange;
}

.bubble-contact {
	margin-bottom: 1.5em;
	a {
		color: #fff;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		span {
			color: $orange;
		}
	}
}

.bubble-heading {
	margin-bottom: .5em;
	font-weight: normal;
	text-align: center;
	font-size: em(13);
}