/*
 * Main Layout
 */


/*
 * Site wide 
 */


.l-horizontal-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	@extend .clearfix;

	li {
		float: left;
	}	
}


$columns: 12;

.col {
	// width: $fluid-col-total;
	padding: 0 $fluid-col-gutters;
	float: left;
	position: relative;
	min-height: 1px;

	img {
		max-width: 100%;
		height: auto;
	}
}

%no-gutters {
	padding: 0;
}

@mixin col-list {
  @for $i from 1 through $columns {
  	.col-#{$i} { 
  		@extend .col;
  		width: $i / 12 * 100%;
  	}
  	.col-#{$i}.no-gutters { 
  		@extend %no-gutters;
  	}
  }
}

@include col-list;

@mixin col-offset-list {
  @for $x from 1 through $columns - 1 {
  	.offset-#{$x} {
  		margin-left: $x / 12 * 100%;
  	}
  }
}

@include col-offset-list;

 

/* 
 * Header
 */

.l-header-con {
 	position: fixed;
 	left: 0;
 	top: 0;
 	z-index: 999;
 	width: 100%;
 	line-height: 50 / 16 * 1em;
 	background-color: $gray;
}

.l-header {
	width: 100%;
	max-width: $max-width * 1px;
	margin: 0 auto;
	padding: 0 $fluid-site-gutters;
	line-height: 50 / 16 * 1em;
}

/* 
 * footer
 */

.l-footer-con {
 	width: 100%;
 	padding-bottom: 220 / 16 * 1em;
 	background-color: $gray;
}

.l-footer {
	@extend .clearfix;
	width: 100%;
	max-width: $max-width * 1px;
	margin: 0 auto;
	padding: (40 / 16 * 1em) $fluid-site-gutters 0;
}

/*
 * main container
 */
 .l-container {
 	min-height: 40em;
 	margin-top: 50 / 16 * 1em;
 }

 .home-section {
 	width: 100%;
 	height: 700px;
 	background: url(../img/bg_slide.jpg) no-repeat left top;
 	background-size: cover;
 }

 .home-copy {
 	width: 100%;
 	max-width: $max-width * 1px;
 	margin: 0 auto;
 	@extend .clearfix;
 	padding-top: 20em;
 }

 .home-title {
 	font-size: $e-big-med-headline;
 	color: #fff;
 	text-align: center;
 }