/* ==========================================================================
   Site Variables
   ========================================================================== */

/**
 * Dimensions
 */

/**
 * colors
 */

$dark-blue: #284a6d;
$med-blue: #4f738a;
$teal: #00b3c5;
$teal-blue: $teal;
$gold: #ffb000;
$yellow: $gold;
$gray: #424242;
$black: $gray;



/**
 * fonts 
 */

/**
 * Some defautls
 */
 
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box; 
}
