/* ==========================================================================
   Site Variables
   ========================================================================== */


$max-width: 1020;
$max-width-px: 1020px;
$col-size: 60;
$col-gutters: 10;
$col-total: 80;
$site-gutters: 30;

$fluid-col: $col-size / $max-width * 100%;
$fluid-col-gutters: $col-gutters / $max-width * 100%;
$fluid-col-total: $col-total / $max-width * 100%;
$fluid-site-gutters: $site-gutters / $max-width * 100%;

$fc: $fluid-col;
$fcg: $fluid-col-gutters;
$fct: $fluid-col-total;
$fsg: $fluid-site-gutters;

$single-col: 800px;

$footer-single-col: 810px;

$shorten: 550px;

$reduce-fonts: 400px;


/**
 * functions
 */

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}

@function per($px, $context-width: $max-width) {
	@return $px / $context-width * 100%;
}

/**
 * colors
 */

$dark-blue: #284a6d;
$med-blue: #4f738a;
$teal: #00b3c5;
$teal-blue: $teal;
$gold: #ffb000;
$yellow: $gold;
$gray: #424242;
$black: $gray;
$white: #fff;

$orange: $gold;

/**
 * fonts 
 */

$font-family: 'PT Sans', sans-serif;
$body-font-size: 1em;

body {
    font-family: $font-family;
    color: $gray;
}

$big-headline: 72;
$big-med-headline: 60;
$med-headline: 30;
$small-headline: 18;
$normal-body: 14;
$small-body: 10;

$e-big-headline: $big-headline / 16 * 1em;
$e-big-med-headline: $big-med-headline / 16 * 1em;
$e-normal-body: $normal-body / 16 * 1em;
$e-small-body: $small-body / 16 * 1em;

$normal: 400;
$bold: 700;

/**
 * Some defautls
 */
 
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
	font-weight: $bold;
}

.subheading {
	font-size: em(30);
	color: $dark-blue;

	@media (max-width: $reduce-fonts) {
		font-size: em(28);	
	}

	&.alt-color {
		color: $teal;
	}
}

.center {
	text-align: center;
}

button:focus {outline:0 !important;}