/* ==========================================================================
   Site Variables
   ========================================================================== */

/**
 * Dimensions
 */

$max-width: 1020;
$col-size: 60;
$col-gutters: 10;
$col-total: 80;
$site-gutters: 30;

$fluid-col: $col-size / $max-width * 100%;
$fluid-col-gutters: $col-gutters / $max-width * 100%;
$fulid-col-total: $col-total / $max-width * 100%;
$fluid-site-gutters: $site-gutters / $max-width * 100%;

$fc: $fluid-col;
$fcg: $fluid-col-gutters;
$fct: $fluid-col-total;
$fsg: $fluid-sute-gutters;


/**
 * colors
 */

$dark-blue: #284a6d;
$med-blue: #4f738a;
$teal: #00b3c5;
$teal-blue: $teal;
$gold: #ffb000;
$yellow: $gold;
$gray: #424242;
$black: $gray;

/**
 * fonts 
 */

$font-family: 'PT Sans', sans-serif;

body {
    font-family: $font-family;
}

$big-headline: 72;
$med-headline: 30;
$small-headline: 18;
$normal-body: 14;
$small-body: 10;

/**
 * Some defautls
 */
 
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box; 
}
