/**
 * buttons
 */

 .watch-video {
 	padding: 7px 22px 5px;
 	border: 2px solid $gold;
	background: none;
	color: $dark-blue;
	line-height: 1;
	font-size: em(20);
	font-weight: 700;
 }

 .watch-webinar {
	@extend .watch-video;
	width: 168px;
	padding-left: 0;
	padding-right: 0;
	margin-left: 40px;

	@media (max-width: 450px) {
		width: 100%;
		margin-left: 0;
		margin-top: 1em;
		display: block;
	}
 }

 .download {
	@extend .watch-video;
	width: 168px;
	padding-left: 0;
	padding-right: 0;

	@media (max-width: 450px) {
		width: 100%;
		display: block;
	}

	&.is-link {
		display: inline-block;
		text-align: center;
		text-decoration: none;
	}
 }

 .close-btn {
 	border: 0;
 	background: 0;
 	padding: 0;
 }

 .close-study {
 	float: right;
 }

.back-to-top {
	position: fixed;
	right: 40px;
	bottom: 60px;
	z-index: 50;
	display: none;
	width: 28px;
	height: 32px;
	background: url(../img/backtotop_btn.svg) no-repeat left top;

	.no-svg & {
		background-image: url(../img/backtotop_btn.png);
	}

	@media (max-width: $single-col) {
		right: 10px;
		bottom: 20px;
	}
}

.show-back-to-top.back-to-top {
	display: block;
}

.close-nav-btn,
.menu-toggle {
	display: none;
	outline: none;
	background: none;
	border: none;
	border-radius: none;
	float: right;
	position: relative;
	z-index: 999;

	@media (max-width: $single-col) {
		display: inline;
	}
}

.close-nav-btn {
	margin-right: .5em;
}