/*
 * Footer
 */

.footer-addy,
.footer-phone-numbers {
	line-height: 1.3;
	color: #fff;
	letter-spacing: 1px;

	p {
		font-size: 11px	;
		font-weight: $bold;
	}

	a {
		color: #fff;
		text-decoration: none;
		&:hover {
			color: $gold;
		}
	}
}

.addy-title {
	color: $gold;
	font-size: 11px;
	margin: 0;
}


.short-footer {
	line-height: 44 / 16 * 1em;

	li {
		font-weight: $bold;
		font-size: 11 / 16 * 1em;
		line-height: 44 / 11 * 1em;
		color: $white;

		&:after {
			content: ' | ';
			color: $gold;
			margin: 0 1em;
		}

		&:last-child:after {
			content: none;
		}

		a {
			color: $white;
			text-decoration: none;
			
			&:hover {
				color: $gold;
			}
		}
	}

	.short-footer-name {
		color: $gold;
	}
}