/*
 * Header
 */

.main-logo-con {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 90;
	width: 100%;
	height: em(154);
	padding: em(72) em(14) em(14) 0;
	text-align: right;
	background-color: $gold;
	transition-property: height, width, top, left, padding;
	transition-duration: 300ms;

    img {
    	display: inline-block;
    	width: 113px;
    	height: 68px;
    	transition-property: height, width, top, left;
		transition-duration: 300ms;
    }

	.show-short-view & {
		padding: em(2) em(10) 0 0;
		height: em(53);

		img {
			height: 38px;
			width: 63px;
		}
	}
}



.main-nav {
	li {
		width: 1 / 5 * 100%;
		border-top: 3px solid #424242;

		.show-short-view & {
			border-top-color: #fff;
		}
		
		.show-short-view &.active,
		.show-short-view &:hover,
		&.active,
		&:hover {
			border-color: $gold;

			a {
				color: $gold;
			}
		}

		-webkit-transition: border-color 300ms ease-out;
	       -moz-transition: border-color 300ms ease-out;
             -o-transition: border-color 300ms ease-out;
                transition: border-color 300ms ease-out;
	}

	a {
		line-height: 1;
		font-size: $e-normal-body;
		font-weight: $bold;
		text-transform: uppercase;
		color: $white;
		text-decoration: none;
		letter-spacing: 1px;
		padding: .75em 0;

		-webkit-transition: color 300ms ease-out;
	       -moz-transition: color 300ms ease-out;
             -o-transition: color 300ms ease-out;
                transition: color 300ms ease-out;
	}

}

.blog .main-nav a,
.page-id-9 .main-nav a {
	color: #424242;
}

.page-id-9 .show-short-view .main-nav a,
.blog .show-short-view .main-nav a {
	color: #fff;
}

.gen-social-media-links {
	li {
		margin-left: 6px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.header-footer-social-link {
	@extend .ir;
	display: block;
	width: 18px;
	height: 18px;
	background-image: url(../img/social_icons.svg);
	background-repeat: no-repeat;

	.no-svg & {
		background-image: url(../img/social_icons.png);
	}
}

.header-footer-twitter {
	background-position: 0 0;
}

.header-footer-linkedin {
	background-position: -23px 0;
}

.header-footer-email {
	background-position: -46px 0;
}