/*
 * Homepage
 */
 
.home-title {
	font-size: em(90);
	line-height: 1;
	margin-bottom: 0;
	text-align: left;
	color: #fff;

	@media (max-width: $reduce-fonts) {
		font-size: 4.25em;	
	}


}

.home-copy {
	color: #fff;
	font-size: 1.5em;
}