/**
 * tools page
 */

.l-tools-intro-outer {
	position: relative;
	min-height: em(600);
	width: 100%;
	background: url(../img/3_window_talking.jpg) no-repeat center center;
	background-size: cover;

	@media (max-width: $shorten) {
		min-height: inherit;
		padding-bottom: 6em;
	}
}

.l-tools-intro-heading {
	h1 {
		padding: em(260, 36) .5em 0;
		font-size: em(36);
		text-align: center;
		color: #fff;

		@media (max-width: $shorten) {
			padding-top: em(140, 36);
		}

		@media (max-width: $reduce-fonts) {
			font-size: em(28);
		}
	}
}

.swatch-gray {
	background-color: #e1e1e1;
}

.has-down-arrow {
	position: relative;
}

.has-down-arrow:after {
	position: absolute;
	bottom: -35px;
	left: 50%;
	z-index: 20;
	margin-left: -36px;
	content: " ";
	width: 0; 
	height: 0; 
	border-left: 36px solid transparent;
	border-right: 36px solid transparent;
	border-top: 36px solid #fff;
}

.has-down-arrow.swatch-gray:after {
	border-top-color: #e1e1e1;
}

.tools-content-section {
	padding: em(100, 14) 1em 10em;
	text-align: center;

	@media (max-width: $shorten) {
		padding: em(40, 14) 1em em(40, 14);
	}

	p,
	li,
	blockquote {
		font-size: 1.2em;	
	}

	p {
		margin-bottom: 1.5em;
	}
}

.l-tools-logos-con {
	padding-top: em(174);
	padding-bottom: em(180);

	@media (max-width: $shorten) {
		padding-top: em(100);
		padding-bottom: em(100);

	}

	.section-heading {
		color: $dark-blue;
		font-size: em(30);
		text-align: center;
		margin-bottom: 0;
	}
}

.tools-logos {

	li {
		width: per(300, 960);
		margin: em(63) per(90) 0;
		background: #e1e1e1;

		@media (max-width: 700px) {
			width: 100%;
			background: none;
			text-align: center;
			float: none;
			margin-left: 0;
		}

		img {
			max-width: 100%;
			height: auto;
			padding: em(30) 0;
		}

		a {
			display: block;
			text-align: center;
			width: 100%;

			@media (max-width: 700px) {
				max-width: 300px;
				background: #e1e1e1;
				margin-right: 0;
				display: inline-block;
			}

		}
	}
	
}

.l-tool-intro-panel-con {
	background-color: #e1e1e1;
}

.brand-embrace-con {
	background: url(../img/brandembrace_bg.jpg) no-repeat center center;
	background-size: cover; 
}

.mindguide-con {
	background: url(../img/mindguide_BG_2000px.jpg) no-repeat center center;
	background-size: cover; 
}

.tool-intro-panel {
	padding-top: em(140);
	padding-bottom: em(180);
	text-align: center;

	@media (max-width: $shorten) {
		padding-top: em(80);
		padding-bottom: em(90);
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.tool-intro-main-heading {
	font-size: em(30);
	color: $teal;
}

.l-tool-callout-panel-con {
	padding-top: em(140);
	padding-bottom: em(145);

	@media (max-width: $shorten) {
		padding-top: em(60);
		padding-bottom: em(60);
	}
}

.callout-panel {
	text-align: center;
}

.callout-panel.shrink-it {
	.subheading {
		padding: 0 30px;

		@media (max-width: $reduce-fonts) {
			padding: 0;
		}
	}
}

.l-tool-three-icon-view-con {
	padding-top: em(60);
	padding-bottom: em(90);
}

.tool-three-icon-single-view {
	@media (max-width: $single-col) {
		padding-top: 1em;
	}
}

.three-icon-view-title {
	margin-top: em(40, 14);
	color: $teal;
	font-size: em(14);
	margin-bottom: 0;
	text-transform: uppercase;
}

.three-icon-view-desc {
	font-size: em(14);
	padding: 0 20px;
	margin-bottom: 0;
}

.l-tool-large-infographic-con {
	padding-top: em(120);
	padding-bottom: em(100);

	@media (max-width: $shorten) {
		padding-top: em(80);
		padding-bottom: em(90);
	}
}

.tool-large-infographic-con .shrink-it .subheading {
	padding: 0 40px;

	@media (max-width: $reduce-fonts) {
		padding: 0;	
	}
}

.l-tool-multi-detail-panel {
	padding-top: em(100);
	padding-bottom: em(140);

	@media (max-width: $shorten) {
		padding-top: em(80);
		padding-bottom: em(90);
	}

	p,
	li,
	blockquote {
		font-size: $body-font-size;
	}
}

.multi-detail-mid-section {
	// margin-top: em(136);
}

.multi-detail-bottom-section {
	margin-top: em(60);
}


// Animations
.tool-three-icon-view {
	overflow: hidden;
}
.tool-three-icon-single-view {
	opacity: 0;
	transition: all 750ms ease-out;
	transform: translateY(120%);
	-webkit-transform: translateY(120%);

	img {
		transform: rotate(60deg);
		-webkit-transform: rotate(60deg);
		transition: transform 750ms ease-out;
	}
}

.tool-icon-2 {
	transition-delay: 300ms;

	img {
		transition-delay: 300ms;		
	}
}

.tool-icon-3 {
	transition-delay: 600ms;

	img {
		transition-delay: 600ms;		
	}
}

.show-tool-icons .tool-three-icon-single-view {
	opacity: 1;
	transform: none;
	-webkit-transform: none;

	img {
		transform: none;
		-webkit-transform: none;
	}
}


// brandembrace index

.brandembrace-index-col {
	position: relative;

	@media (max-width: $single-col) {
		margin-top: 2em;
	}
}

.brandembrace-index-number-con {
	position: absolute;
	left: 81px;
	top: 71px;
}

.brandembrace-index-number {
	font-size: em(64);
	font-weight: $bold;
	color: #07b3c5;
}

// smartguide dna icons animation

// <div class="logo-outside-con invisible">
//     <div class="logo-inner-con">
//         <img src="img/circle.svg" onerror="this.src='img/circle.png'" alt="" class="circle">
//         <img class="small-logo" src="img/logo_w_background.svg" onerror="this.src='img/logo_w_background.png'">    
//     </div>
// </div>

.mindguide-infographic-holder {
	position: relative;
	height: 340px;
	cursor: pointer;
}

.mindguide-infographic-outside-con {
	position: absolute;
	width: 689px;
	height: 340px;
	z-index: 50;
	left: 50%;
	margin-left: -(689/2)* 1px;
	-webkit-perspective: 1000;
	        perspective: 1000;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 500ms linear;
            transition: all 500ms linear; 

    @media (max-width: 720px ) {
    	width: 100%;
    	position: relative;
    	left: 0;
    	margin-left: 0;
    }
}

.mindguide-infographic-inner-con {
	position: relative;
	width: 100%;
	height: 340px;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	-webkit-perspective: 1000;
	        perspective: 1000;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 500ms linear;
            transition: all 500ms linear; 
}

.mindguide-infographic-panel {
	position: absolute;
	width: 100%;
	height: 340px;
	left: 0;
	top: 0;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	-webkit-perspective: 1000;
	        perspective: 1000;
	text-align: center;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 500ms linear;
            transition: all 500ms linear; 
}

.smart-data-icon {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	display: block;
	-webkit-transform: rotateY(0deg);
	        transform: rotateY(0deg);
	        -webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	        transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 500ms linear;
            transition: all 500ms linear;

    p {
    	padding: .5em 25%;
    	text-align: center;

    	@media (max-width: 720px) {
    		width: 100%;
    		max-width: 340px;
    		padding: .5em 0;
    		margin: 0 auto;
    	}
    }
}

.dna-icons-all {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	display: block;
	-webkit-transform: rotateY(-180deg);
	        transform: rotateY(-180deg);
	         -webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	        transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	        -webkit-transition: all 500ms linear;
            transition: all 500ms linear;

    @media (max-width: 720px) {
    	display: none;
    	width: 100%;
    	overflow: hidden;
    }
}

.show-other-side {
	.smart-data-icon {
		-webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
	}

	.dna-icons-all {
		-webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
	}
}

.long-animation {
    /*transition-property*/
    -webkit-transition-property:width left top height;
       -moz-transition-property:width left top height;
         -o-transition-property:width left top height;
            transition-property:width left top height;
    /*transition-duration*/
    -webkit-transition-duration:1s;
       -moz-transition-duration:1s;
         -o-transition-duration:1s;
            transition-duration:1s;
}


.big-logo {
    position: absolute;
    left: 50%;
    z-index: 10;
}

.short-animation {
    -webkit-transition: all 500ms linear;
            transition: all 500ms linear;  
}

/* entire container, keeps perspective */
.logo-outside-con {
      
}

.no-csstransitions .logo-outside-con {
    left: 50%;
    top: 50%;
    margin-left: -221px;
    margin-top: -221px;
}

.logo-inner-con {
    
}
/*.show-otherside .logo-inner-con {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
}*/

.circle,
.small-logo {
    
}

.circle {
    
}

.no-csstransitions .circle {
    display: none;
}

.small-logo {
    
}

.no-csstransitions .small-logo {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    z-index: 20;
    display: none;
}

.show-otherside .small-logo {
    
}

.show-otherside .circle {
    
}